In [2]:
# Q1. Create one variable containing following type of data:

# (i) string 
my_string="data science"

# (ii) list
my_list = [ 'DS', 'ML', 'Python']

# (iii) float
my_float=2.2345

# (iv) tuple
my_tuple= ('DS', 'ML', 'Python')

In [3]:
# Q2. Given are some following variables containing data:
# (ii) var1=''
# (ii) var2='[DS, ML, Python]'
# (iii) var3 = [ 'DS', 'ML', 'Python']
# (iv) var4 = 1.
# What will be the data type of the above given variable.

var1=''
var2='[DS, ML, Python]'
var3 = [ 'DS', 'ML', 'Python']
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [4]:
# Q3. Explain the use of the following operators using an example:
# (i) / (Division Operator):
# The division operator / is used to divide one number by another and returns the quotient as a floating-point number (decimal). 
# It performs regular division.

# (ii) % (Modulo Operator):
# The modulo operator % is used to find the remainder of the division between two numbers. It returns the remainder after division

# (iii) // (Floor Division Operator):
# The floor division operator // performs division and rounds the result down to the nearest whole number (integer). It discards 
# any fractional part.

# (iv) ** (Exponentiation Operator):
# The exponentiation operator ** is used to raise a number to a given power. It calculates the exponentiation of the left 
# operand with the right operand as the exponent.

# Example:
num1=4
num2=2

# (i)/
op=num1/num2
print(op)

# (ii)%
op=num1%num2
print(op)

# (iii)//
op=num1//num2
print(op)

# (iv)**
op=num1**num2
print(op)

2.0
0
2
16

In [5]:
# Q4. Create a list of length 10 of your choice containing multiple types of data.
# Using for loop print the element and its data type.

res = [ 12,2,23,4,'DS', 'ML', 'Python',8,24,12]

for i in res:
    print(i,end="    ")

12    2    23    4    DS    ML    Python    8    24    12

In [8]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A=100
B=5

count=0

while A % B==0:
    A=A/B
    count+=1
    
if count>0:
    print("the num_1 is divisible by num_2 by",count,"times")
else:
    print("the num_1 is not divisible by num_2 by ")

the num_1 is divisible by num_2 by 2 times

In [9]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
list=[2,6,3,7,1,5,9,11,14,16,17,13,19,20,21,22,23,24,25,26,20,27,30,33,34]

for num in list:
    if num%3==0:
        print(num,"is divisible by 3")
    else:
         print(num,"is not divisible by 3")

2 is not divisible by 3
6 is divisible by 3
3 is divisible by 3
7 is not divisible by 3
1 is not divisible by 3
5 is not divisible by 3
9 is divisible by 3
11 is not divisible by 3
14 is not divisible by 3
16 is not divisible by 3
17 is not divisible by 3
13 is not divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
26 is not divisible by 3
20 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
33 is divisible by 3
34 is not divisible by 3

In [10]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# ans -->
# In programming, mutable and immutable are terms used to describe the properties of data types.

# mutable data types are those that can be modified after they are created. Operations can change the internal state of the 
# object without creating a new object.
# Examples:
# Lists/Arrays: Lists are mutable. Elements can be added, removed, or modified within the list. In 
#     Python:
        
numbers = [1, 2, 3]
numbers.append(4)
print(numbers) 
numbers[1] = 5
print(numbers) 

# An immutable data type is one whose state cannot be modified after it is created. Any operation on an immutable object will 
# result in a new object being created, rather than modifying the existing one. Immutable objects are safe from unintended changes
# and can be easily shared across different parts of a program.
# Strings:strings are immutable. Once a string is created, its contents cannot be modified. For 
# example :

text = "Hello"
new_text = text + " World"
print(text) 
print(new_text)

[1, 2, 3, 4]
[1, 5, 3, 4]
Hello
Hello World